
<div class="container">
	<div class="slick-box">
		<div id="slick">
		  <div class="slide1"></div>
		  <div class="slide2"></div>
		  <div class="slide3"></div>
		</div>
	</div>
	<div class="top-news clearfix">
		<h2>Top News</h2>
		<%= link_to "https://eiga.com/movie/88330/interview/", class: "site-link", :target => "_blank" do %>
	       	<div class="panel panel-dafault news" id="news1">
	       		<div class="panel-body news-body">
	   				<p>“先駆者”渡辺謙、木村佳乃＆田中圭に託す思い<br>-映画.com-</p>
				</div>
	       	</div>
	    <% end %>
	    <%= link_to "https://www.cinematoday.jp/cat/hamidashi?g_clk=panel_specials", class: "site-link", :target => "_blank" do %>
	       	<div class="panel panel-dafault news" id="news2">
	       		<div class="panel-body news-body">
	   				<p>斎藤工＆板谷由夏、イチオシ映画談<br>-シネマトゥデイ-</p>
				</div>
	       	</div>
	    <% end %>
	    <%= link_to "https://ciatr.jp/topics/312086", class: "site-link", :target => "_blank" do %>
	       	<div class="panel panel-dafault news" id="news3">
	       		<div class="panel-body news-body">
	   				<p>アニメ映画『ぼくらの7日間戦争』が<br>2019年12月公開決定！<br>-ciatr-</p>
				</div>
	       	</div>
	    <% end %>
	</div>
    <div class="row">
       	<div class="col-lg-8 news-group">
       		<h3>news</h3>
       		<%= link_to "https://eiga.com/news/20190612/14/", class: "site-link2", :target => "_blank" do %>
	       		<div class="panel panel-dafault news-small" id="news4">
	       			<div class="panel-body news-small-body">
	   					<p>実写版「アラジン」新曲歌唱シーン公開<br>-映画.com-</p>
					</div>
	       		</div>
	   		<% end %>
	   		<%= link_to "https://www.cinematoday.jp/news/N0109302", class: "site-link2", :target => "_blank" do %>
	       		<div class="panel panel-dafault news-small" id="news5">
	       			<div class="panel-body news-small-body">
	   					<p>4DXマキシマムバトルエディションが上映<br>-シネマトゥデイ-</p>
					</div>
	       		</div>
	   		<% end %>
	   		<%= link_to "https://www.cinematoday.jp/page/A0006672?g_clk=panel_specials", class: "site-link2", :target => "_blank" do %>
	       		<div class="panel panel-dafault news-small" id="news6">
	       			<div class="panel-body news-small-body">
	   					<p>東野圭吾原作映画総まとめ！<br>-シネマトゥデイ-</p>
					</div>
	       		</div>
	   		<% end %>
	   		<%= link_to "https://ciatr.jp/topics/312078", class: "site-link2", :target => "_blank" do %>
	       		<div class="panel panel-dafault news-small" id="news7">
	       			<div class="panel-body news-small-body">
	   					<p>中島みゆき『糸』が映画化！<br>-ciatr-</p>
					</div>
	       		</div>
	   		<% end %>
	   		<%= link_to "https://eiga.com/movie/88457/special/", class: "site-link2", :target => "_blank" do %>
	       		<div class="panel panel-dafault news-small" id="news8">
	       			<div class="panel-body news-small-body">
	   					<p>《キアヌの“間違った”選択》に全力でツッコむ映画！<br>-映画.com-</p>
					</div>
	       		</div>
	   		<% end %>
	   		<%= link_to "https://eiga.com/news/20190606/20/", class: "site-link2", :target => "_blank" do %>
	       		<div class="panel panel-dafault news-small" id="news9">
	       			<div class="panel-body news-small-body">
	   					<p>「コンフィデンスマンJP」映画第2弾製作決定<br>-映画.com-</p>
					</div>
	       		</div>
	   		<% end %>
       	</div>
       	<div class="col-lg-4 link-group">
       		<h3>movie cheater</h3>
       		<%= link_to "https://www.tohotheater.jp/", class: "site-link", :target => "_blank" do %>
       			<div class="theater" id="theater1">
       				<p><span>TOHO</span> CINEMAS</p>
       			</div>
       		<% end %>

       		<%= link_to "https://www.unitedcinemas.jp/index.html", class: "site-link", :target => "_blank" do %>
       			<div class="theater" id="theater2">
       				<p>UNITED CINEMAS</p>
       			</div>
       		<% end %>

       		<%= link_to "https://www.smt-cinema.com/theater/", class: "site-link", :target => "_blank" do %>
       			<div class="theater" id="theater3">
       				<p>MOVIX</p>
       			</div>
       		<% end %>

       		<%= link_to "http://kinezo.jp/pc/schedule?ush=140feb4", class: "site-link", :target => "_blank" do %>
       			<div class="theater" id="theater4">
       				<p>新宿バルト９</p>
       			</div>
       		<% end %>
       	</div>
    </div>
</div>
