<!DOCTYPE html>
<html>
  <head>
    <title>MovieChat</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrapper">
      <% if user_signed_in? %>
        <header class="header1">
          <h1>Movieee Chat</h1>
        </header>
        <nav id="common-nav">
            <ul>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <li>Logout</li>
              <% end %>

              <%= link_to movies_path do %>
                <li>Chat</li>
              <% end %>

              <%= link_to user_path(current_user.id) do %>
                <li>Mypage</li>
              <% end %>

              <%= link_to tops_news_path do %>
                <li>News</li>
              <% end %>
            </ul>
          </nav>
      <% else %>
        <header class="header2">
          <%= link_to new_user_registration_path do %>
            <div class="btn btn-danger btn-lg sign-up-link pull-right">新規登録</div>
          <% end %>
          <%= link_to new_user_session_path do %>
            <div class="btn btn-warning btn-lg sign-in-link pull-right">ログイン</div>
          <% end %>
        </header>
      <% end %>
      <main>
        <%= yield %>
      </main>
      <footer>@Moviee Chat</footer>
    </div>
  </body>
</html>
